<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="relativeSymbolsDir" value="..\Bin_[version]"/> <!--symbols folder relative to the dump file-->
    <add key="versionFile" value="c:\temp\version"/> <!--symbols folder relative to the dump file-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup>
</configuration>
